In [1]:
import pandas as pd

In [97]:
c=pd.read_csv("airquality_state.csv")

In [98]:
df=pd.DataFrame(c)

In [99]:
df.head()

        State  AvgAQI_o3  AvgAQI_co  AvgAQI_no2  AvgAQI_so2  AvgAQI_pm25_frm
0     Alabama  40.627047   6.656294   24.312312    3.221113        33.522365
1      Alaska  25.968872   8.488246   21.720000   14.278689        35.506787
2     Arizona  45.199468   6.220855   25.800968   13.342093        30.478507
3    Arkansas  36.004105   4.593971   17.165527    3.726776        35.687978
4  California  44.998341   5.226927   17.064609    1.327433        36.158898

In [100]:
df2=pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv")

In [101]:
df2=pd.DataFrame(df2)
df2.head()

,code,state,category,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton
0,AL,Alabama,state,1390.63,34.4,10.6,481.0,4.06,8.0,17.1,25.11,5.5,8.9,14.33,34.9,70.0,317.61
1,AK,Alaska,state,13.31,0.2,0.1,0.0,0.19,0.0,0.0,0.00,0.6,1.0,1.56,0.0,0.0,0.00
2,AZ,Arizona,state,1463.17,71.3,17.9,0.0,105.48,19.3,41.0,60.27,147.5,239.4,386.91,7.3,48.7,423.95
3,AR,Arkansas,state,3586.02,53.2,29.4,562.9,3.53,2.2,4.7,6.88,4.4,7.1,11.45,69.5,114.5,665.44
4,CA,California,state,16472.88,228.7,11.1,225.4,929.95,2791.8,5944.6,8736.40,803.2,1303.5,2106.79,34.6,249.3,1064.95

In [104]:
dic_state=dict(zip(df2['state'], df2['code']))
dic_state

{'Alabama': 'AL',
 'Alaska': 'AK',
 'Arizona': 'AZ',
 'Arkansas': 'AR',
 'California': 'CA',
 'Colorado': 'CO',
 'Connecticut': 'CT',
 'Delaware': 'DE',
 'Florida': 'FL',
 'Georgia': 'GA',
 'Hawaii': 'HI',
 'Idaho': 'ID',
 'Illinois': 'IL',
 'Indiana': 'IN',
 'Iowa': 'IA',
 'Kansas': 'KS',
 'Kentucky': 'KY',
 'Louisiana': 'LA',
 'Maine': 'ME',
 'Maryland': 'MD',
 'Massachusetts': 'MA',
 'Michigan': 'MI',
 'Minnesota': 'MN',
 'Mississippi': 'MS',
 'Missouri': 'MO',
 'Montana': 'MT',
 'Nebraska': 'NE',
 'Nevada': 'NV',
 'New Hampshire': 'NH',
 'New Jersey': 'NJ',
 'New Mexico': 'NM',
 'New York': 'NY',
 'North Carolina': 'NC',
 'North Dakota': 'ND',
 'Ohio': 'OH',
 'Oklahoma': 'OK',
 'Oregon': 'OR',
 'Pennsylvania': 'PA',
 'Rhode Island': 'RI',
 'South Carolina': 'SC',
 'South Dakota': 'SD',
 'Tennessee': 'TN',
 'Texas': 'TX',
 'Utah': 'UT',
 'Vermont': 'VT',
 'Virginia': 'VA',
 'Washington': 'WA',
 'West Virginia': 'WV',
 'Wisconsin': 'WI',
 'Wyoming': 'WY'}

In [106]:
l=[list(df['State']).index(i) for i in list(df['State']) if i not in dic_state]
l

[8, 39, 47]

In [107]:
df=df.drop(l, axis=0)

In [113]:
df['State']=df['State'].apply(lambda x: dic_state[x])

In [114]:
df

   State  AvgAQI_o3  AvgAQI_co  AvgAQI_no2  AvgAQI_so2  AvgAQI_pm25_frm
0     AL  40.627047   6.656294   24.312312    3.221113        33.522365
1     AK  25.968872   8.488246   21.720000   14.278689        35.506787
2     AZ  45.199468   6.220855   25.800968   13.342093        30.478507
3     AR  36.004105   4.593971   17.165527    3.726776        35.687978
4     CA  44.998341   5.226927   17.064609    1.327433        36.158898
5     CO  45.023581   5.628283   19.063400    7.557392        22.564480
6     CT  44.979419   4.091865   23.759276    0.381136        26.899836
7     DE  38.468429   3.962963   21.746795    0.851480        31.369591
9     FL  35.474439   4.971456   13.492615    3.390915        28.052355
10    GA  42.677585   8.210926   28.123845    5.297685        35.566600
11    HI  27.355828   6.348870    8.496255   48.298090        33.121312
12    ID  38.602851   5.002193   16.853607    4.205234        29.656618
13    IL  37.967088   3.133803   26.918613    4.517988        33.418834
14    IN  41.869133   5.500566   14.532195    4.928321        34.751642
15    IA  36.277495   2.916283   10.696078    3.041517        30.913033
16    KS  35.982034   3.725434    9.163115    1.195667        25.715071
17    KY  40.015869   3.903527   14.948718    2.581185        33.142178
18    LA  35.842820   5.260690   14.290455    5.868409        33.756423
19    ME  32.615211   2.379468    8.998008    0.849162        22.313620
20    MD  44.103899   2.922686   20.364679    1.319018        31.993092
21    MA  35.462887   3.494855   16.340526    1.048997        24.670414
22    MI  40.531304   5.013984   18.340172    5.485520        31.996581
23    MN  31.094353   3.348931   15.117811    1.563615        24.563730
24    MS  37.820816   3.434426   12.682119    1.318306        33.247536
25    MO  40.239816   4.708920   18.451672    3.433350        32.270833
26    MT  33.495551   1.258333    2.870145    2.528384        15.201923
27    NE  35.979305   4.411279   16.853607    4.963415        27.924425
28    NV  45.065373   5.636364   29.398785    1.394700        21.775229
29    NH  35.168415   1.886111   16.853607    1.281388        19.624697
30    NJ  38.576951   5.021510   23.199322    0.930689        31.372061
31    NM  44.371961   3.661538   14.693604    1.195898        29.751100
32    NY  36.153914   3.237873   22.000469    0.741277        27.608413
33    NC  41.458466   5.166667   13.805273    1.224931        32.573762
34    ND  31.350687   2.076923    5.534641    2.702883        19.914286
35    OH  42.927202   4.035074   20.978832    3.367608        34.178229
36    OK  38.190609   3.825694   15.535373    3.364876        31.410131
37    OR  31.082849   4.498438   18.280438    0.326761        25.094682
38    PA  37.782482   3.953578   14.571502    4.522799        35.490560
40    RI  39.800000   5.864754   16.982076    0.379781        27.128096
41    SC  38.679364   3.030030   11.702026    0.387506        32.956652
42    SD  37.686868   4.593971   16.853607    4.163645        23.838150
43    TN  43.203110   4.065411   21.842324    9.707792        33.934347
44    TX  35.615577   4.733427   14.066150    2.417386        35.009808
45    UT  43.641916   6.545582   13.135697    1.815789        30.272248
46    VT  34.448378   2.387978   12.634943    0.096045        21.918854
48    VA  39.351869   3.859642   15.307673    1.128685        28.769587
49    WA  32.140448   8.413136   22.172632    4.163645        28.524540
50    WV  39.160825   3.790170   16.853607    6.570808        33.368852
51    WI  39.169782   3.218056   19.150784    3.567431        27.292070
52    WY  40.772282   1.700306    6.535723    3.195707        16.420842

In [115]:
df.to_csv(r'./aq3.csv')

In [118]:
df=pd.read_csv('county.csv')

In [119]:
df=pd.DataFrame(df)

In [120]:
df

        county_name   latitude   longitude  arithmetic_mean
0           Alameda  37.780753 -122.160523         7.611428
1             Butte  39.761538 -121.841620         7.600915
2         Calaveras  38.201852 -120.681567         8.036705
3            Colusa  39.112078 -122.149766         6.448858
4      Contra Costa  37.948206 -122.191482         7.050986
5            Fresno  36.791694 -119.811675        11.702757
6          Humboldt  40.746112 -124.189445         4.757887
7          Imperial  32.780730 -115.517629        11.463691
8              Inyo  36.778777 -118.024285         5.204815
9              Kern  35.348721 -118.652808        12.553761
10            Kings  36.208289 -119.605762        15.109325
11             Lake  39.032700 -122.922290         2.985246
12      Los Angeles  34.060165 -118.182623        10.447474
13           Madera  36.953256 -120.034203        11.213163
14            Marin  37.972310 -122.520004         6.434682
15        Mendocino  39.281105 -123.279595         6.326847
16           Merced  37.295068 -120.457993        11.607783
17         Monterey  36.515018 -121.599241         5.851573
18             Napa  38.310942 -122.296189         8.578161
19           Nevada  39.286417 -120.613941         5.450432
20           Orange  33.730325 -117.807190         8.353563
21           Placer  38.859637 -121.166914         6.336124
22           Plumas  39.854606 -120.626734        11.615815
23        Riverside  33.906542 -117.224984        11.402838
24       Sacramento  38.614577 -121.360031         8.370973
25       San Benito  36.844096 -121.362121         4.252557
26   San Bernardino  34.161361 -117.397642        11.183684
27        San Diego  32.839877 -116.978038         7.892053
28    San Francisco  37.765946 -122.399044         7.583333
29      San Joaquin  37.898238 -121.261922        11.732469
30  San Luis Obispo  35.201312 -120.621053         6.946816
31        San Mateo  37.482934 -122.203370         8.324716
32    Santa Barbara  34.677492 -120.241177         7.009129
33      Santa Clara  37.258675 -121.803566         7.781548
34       Santa Cruz  37.023495 -122.036728         5.243817
35           Shasta  40.549985 -122.382011         5.050000
36         Siskiyou  41.726892 -122.633579         4.936207
37           Solano  38.102507 -122.237976         7.905693
38           Sonoma  38.403765 -122.818294         4.641061
39       Stanislaus  37.590382 -120.942083        10.839491
40           Sutter  39.138773 -121.618549         8.118519
41           Tehama  40.170930 -122.255560         4.715956
42           Tulare  36.332179 -119.291228        14.706780
43          Ventura  34.311262 -118.903742         8.743767
44             Yolo  38.661210 -121.732690         6.316667

In [121]:
n=36.158898
df['greater']=df['arithmetic_mean'].apply(lambda x: x>n)

        county_name   latitude   longitude  arithmetic_mean  greater
0           Alameda  37.780753 -122.160523         7.611428    False
1             Butte  39.761538 -121.841620         7.600915    False
2         Calaveras  38.201852 -120.681567         8.036705    False
3            Colusa  39.112078 -122.149766         6.448858    False
4      Contra Costa  37.948206 -122.191482         7.050986    False
5            Fresno  36.791694 -119.811675        11.702757    False
6          Humboldt  40.746112 -124.189445         4.757887    False
7          Imperial  32.780730 -115.517629        11.463691    False
8              Inyo  36.778777 -118.024285         5.204815    False
9              Kern  35.348721 -118.652808        12.553761    False
10            Kings  36.208289 -119.605762        15.109325    False
11             Lake  39.032700 -122.922290         2.985246    False
12      Los Angeles  34.060165 -118.182623        10.447474    False
13           Madera  36.953256 -120.034203        11.213163    False
14            Marin  37.972310 -122.520004         6.434682    False
15        Mendocino  39.281105 -123.279595         6.326847    False
16           Merced  37.295068 -120.457993        11.607783    False
17         Monterey  36.515018 -121.599241         5.851573    False
18             Napa  38.310942 -122.296189         8.578161    False
19           Nevada  39.286417 -120.613941         5.450432    False
20           Orange  33.730325 -117.807190         8.353563    False
21           Placer  38.859637 -121.166914         6.336124    False
22           Plumas  39.854606 -120.626734        11.615815    False
23        Riverside  33.906542 -117.224984        11.402838    False
24       Sacramento  38.614577 -121.360031         8.370973    False
25       San Benito  36.844096 -121.362121         4.252557    False
26   San Bernardino  34.161361 -117.397642        11.183684    False
27        San Diego  32.839877 -116.978038         7.892053    False
28    San Francisco  37.765946 -122.399044         7.583333    False
29      San Joaquin  37.898238 -121.261922        11.732469    False
30  San Luis Obispo  35.201312 -120.621053         6.946816    False
31        San Mateo  37.482934 -122.203370         8.324716    False
32    Santa Barbara  34.677492 -120.241177         7.009129    False
33      Santa Clara  37.258675 -121.803566         7.781548    False
34       Santa Cruz  37.023495 -122.036728         5.243817    False
35           Shasta  40.549985 -122.382011         5.050000    False
36         Siskiyou  41.726892 -122.633579         4.936207    False
37           Solano  38.102507 -122.237976         7.905693    False
38           Sonoma  38.403765 -122.818294         4.641061    False
39       Stanislaus  37.590382 -120.942083        10.839491    False
40           Sutter  39.138773 -121.618549         8.118519    False
41           Tehama  40.170930 -122.255560         4.715956    False
42           Tulare  36.332179 -119.291228        14.706780    False
43          Ventura  34.311262 -118.903742         8.743767    False
44             Yolo  38.661210 -121.732690         6.316667    False

In [124]:
d=pd.read_csv('overall.csv')
d=pd.DataFrame(d)

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [125]:
d.head()

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,...,seventy_five_percentile,fifty_percentile,ten_percentile,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change
0,20,57,1,82134,1,37.771964,-100.018190,WGS84,Molybdenum PM10 STP,24 HOUR,...,0.00000,0.0,0.0,DODGE CITY,PUMP STATION 2100 1ST AVE,Kansas,Ford,Dodge City,Dodge City KS,2012-08-11
1,18,163,12,42401,1,38.021727,-87.569458,WGS84,Sulfur dioxide,3-HR BLK AVG,...,3.60000,1.3,0.0,Evansville CAAP,425 WEST MILL ROAD/ FIRE STATION #17,Indiana,Vanderburgh,Evansville,Evansville IN-KY,2013-02-16
2,40,31,9000,88152,1,34.732404,-98.713351,WGS84,Phosphorus PM2.5 LC,24 HOUR,...,0.00000,0.0,0.0,NaN,Wichita Mountains,Oklahoma,Comanche,NaN,Lawton OK,2016-02-26
3,32,3,561,42601,1,36.163959,-115.113916,WGS84,Nitric oxide (NO),1 HOUR,...,18.80000,0.9,0.0,Sunrise Acres,2501 SUNRISE AVENUE,Nevada,Clark,Las Vegas,Las Vegas-Henderson-Paradise NV,2015-03-20
4,13,127,3001,12154,1,31.185187,-81.485166,WGS84,Selenium (TSP) STP,24 HOUR,...,0.00064,0.0,0.0,NaN,BRUNSWICK COASTAL COLLEGE,Georgia,Glynn,Brunswick,Brunswick GA,2015-07-22

In [129]:
d.columns.tolist()

['state_code',
 'county_code',
 'site_num',
 'parameter_code',
 'poc',
 'latitude',
 'longitude',
 'datum',
 'parameter_name',
 'sample_duration',
 'pollutant_standard',
 'metric_used',
 'method_name',
 'year',
 'units_of_measure',
 'event_type',
 'observation_count',
 'observation_percent',
 'completeness_indicator',
 'valid_day_count',
 'required_day_count',
 'exceptional_data_count',
 'null_data_count',
 'primary_exceedance_count',
 'secondary_exceedance_count',
 'certification_indicator',
 'num_obs_below_mdl',
 'arithmetic_mean',
 'arithmetic_standard_dev',
 'first_max_value',
 'first_max_datetime',
 'second_max_value',
 'second_max_datetime',
 'third_max_value',
 'third_max_datetime',
 'fourth_max_value',
 'fourth_max_datetime',
 'first_max_non_overlapping_value',
 'first_no_max_datetime',
 'second_max_non_overlapping_value',
 'second_no_max_datetime',
 'ninety_nine_percentile',
 'ninety_eight_percentile',
 'ninety_five_percentile',
 'ninety_percentile',
 'seventy_five_percentile',
 'fifty_percentile',
 'ten_percentile',
 'local_site_name',
 'address',
 'state_name',
 'county_name',
 'city_name',
 'cbsa_name',
 'date_of_last_change']

In [135]:
d.loc[d['state_name']=='California'][['county_name','arithmetic_mean']]

             county_name  arithmetic_mean
6             Stanislaus         0.056452
7               Mariposa         2.058368
9                  Marin         0.000000
19       San Luis Obispo         0.178385
43            Sacramento         3.703797
52                Fresno         2.428835
55         Santa Barbara         0.241368
56          Contra Costa         0.002407
60                Madera         0.000000
75             Riverside     19703.983516
77                Fresno         3.502778
82                Colusa         0.047260
86               Trinity         0.000767
88                 Kings         0.151148
90                Placer         0.741897
94               Ventura         2.634234
111            San Diego      2361.187380
119          Los Angeles         0.137450
137           Stanislaus        25.034188
143            El Dorado        48.382334
155            El Dorado        43.738351
157                 Kern         0.034375
158           Sacramento       176.804370
160        Santa Barbara         7.278481
162          Los Angeles         0.046745
172         Contra Costa         2.490358
197               Fresno         0.438024
199                 Kern         0.004662
202           Sacramento         1.438235
209          Los Angeles         0.402632
...                  ...              ...
2038498      Los Angeles         1.531583
2038501            Marin         0.102720
2038524      Los Angeles        25.108214
2038526           Fresno         3.740741
2038534       Sacramento         0.012120
2038552          Ventura         0.120896
2038554             Kern         2.338095
2038578           Madera         0.103500
2038583      Los Angeles        73.459016
2038590           Madera         0.033383
2038592          Ventura         4.263860
2038602       Sacramento         1.000000
2038605   San Bernardino         0.166667
2038611       San Benito        19.672131
2038613        San Diego         0.093333
2038614        Del Norte         0.727237
2038621        Riverside         0.006867
2038624             Kern        46.588235
2038626           Placer         0.200000
2038635      Los Angeles         3.892493
2038637         Imperial         0.759362
2038669           Orange         0.754800
2038684        San Diego         0.127941
2038690       Sacramento         0.037615
2038693       Sacramento        69.200000
2038695      Los Angeles         1.525399
2038700           Plumas         0.039333
2038705     Contra Costa         0.019355
2038707      Santa Clara         0.002550
2038709           Fresno        12.851613

[279612 rows x 2 columns]

In [198]:
gdp=pd.read_csv('GDP.csv')
d=pd.DataFrame(gdp)

In [199]:
d=d.dropna()

In [200]:
float(d['2016'][0])

18715040.0

In [201]:
l=d.loc[d['2016']=='(L)'].index.tolist()
d=d.drop(l, axis=0)

In [202]:
d['2016']=d['2016'].astype(float)

In [203]:
d.groupby(['GeoName'])['2016']

In [204]:
d_state=d.loc[d['Description']=="All industry total"]

In [205]:
d_state=d_state.groupby(['GeoName'])['2016'].sum().to_frame().reset_index()

In [206]:
d_state

                 GeoName        2016
0                Alabama    203829.8
1                 Alaska     49363.4
2                Arizona    311091.0
3               Arkansas    120374.8
4             California   2657797.6
5               Colorado    329368.3
6            Connecticut    263696.4
7               Delaware     69549.7
8   District of Columbia    129826.1
9               Far West   3650628.6
10               Florida    938774.2
11               Georgia    539525.1
12           Great Lakes   2572583.3
13                Hawaii     85843.8
14                 Idaho     69029.4
15              Illinois    806315.5
16               Indiana    338126.1
17                  Iowa    179546.6
18                Kansas    156857.4
19              Kentucky    195342.2
20             Louisiana    227226.7
21                 Maine     59753.9
22              Maryland    384889.1
23         Massachusetts    519407.6
24              Michigan    491774.2
25               Mideast   3432411.5
26             Minnesota    339100.1
27           Mississippi    107096.6
28              Missouri    297582.6
29               Montana     45457.9
30              Nebraska    116193.8
31                Nevada    151215.1
32           New England   1010688.8
33         New Hampshire     78477.9
34            New Jersey    582427.5
35            New Mexico     91043.6
36              New York   1539555.2
37        North Carolina    519122.1
38          North Dakota     50833.1
39                  Ohio    622835.2
40              Oklahoma    178913.2
41                Oregon    215050.4
42          Pennsylvania    726163.9
43                Plains   1188719.8
44          Rhode Island     57693.9
45        Rocky Mountain    637479.2
46        South Carolina    212987.4
47          South Dakota     48606.1
48             Southeast   3962903.8
49             Southwest   2146680.0
50             Tennessee    335025.7
51                 Texas   1565632.2
52       United States *  18715040.0
53                  Utah    157883.3
54               Vermont     31659.0
55              Virginia    493877.9
56            Washington    491358.2
57         West Virginia     69721.4
58             Wisconsin    313532.4
59               Wyoming     35740.3

In [210]:
states=[d_state.GeoName.tolist().index(i) for i in d_state.GeoName.tolist() if i not in dic_state]
states

[8, 9, 12, 25, 32, 43, 45, 48, 49, 52]

In [211]:
d_state=d_state.drop(states, axis=0)
d_state['GeoName']=d_state['GeoName'].apply(lambda x: dic_state[x])

In [217]:
d_state['2016'].describe()['max']

2657797.6

In [213]:
d_state.to_csv(r'gdp_states1.csv')

In [218]:
dic_state

{'Alabama': 'AL',
 'Alaska': 'AK',
 'Arizona': 'AZ',
 'Arkansas': 'AR',
 'California': 'CA',
 'Colorado': 'CO',
 'Connecticut': 'CT',
 'Delaware': 'DE',
 'Florida': 'FL',
 'Georgia': 'GA',
 'Hawaii': 'HI',
 'Idaho': 'ID',
 'Illinois': 'IL',
 'Indiana': 'IN',
 'Iowa': 'IA',
 'Kansas': 'KS',
 'Kentucky': 'KY',
 'Louisiana': 'LA',
 'Maine': 'ME',
 'Maryland': 'MD',
 'Massachusetts': 'MA',
 'Michigan': 'MI',
 'Minnesota': 'MN',
 'Mississippi': 'MS',
 'Missouri': 'MO',
 'Montana': 'MT',
 'Nebraska': 'NE',
 'Nevada': 'NV',
 'New Hampshire': 'NH',
 'New Jersey': 'NJ',
 'New Mexico': 'NM',
 'New York': 'NY',
 'North Carolina': 'NC',
 'North Dakota': 'ND',
 'Ohio': 'OH',
 'Oklahoma': 'OK',
 'Oregon': 'OR',
 'Pennsylvania': 'PA',
 'Rhode Island': 'RI',
 'South Carolina': 'SC',
 'South Dakota': 'SD',
 'Tennessee': 'TN',
 'Texas': 'TX',
 'Utah': 'UT',
 'Vermont': 'VT',
 'Virginia': 'VA',
 'Washington': 'WA',
 'West Virginia': 'WV',
 'Wisconsin': 'WI',
 'Wyoming': 'WY'}

In [223]:
c=pd.read_csv("components.csv")

In [224]:
c=pd.DataFrame(c)

In [226]:
c=c.fillna(0)

In [227]:
c.head()

,year,Pb (3-month),CO (8-hour),NO2 (annual),NO2 (1-hour),O3 (8-hour),PM2.5 (annual),PM2.5 (24-hour),PM10 (24-hour),SO2 (1-hour)
0,1990,0.0,-35,-62,-23,25,0.0,0.0,-43,68
1,1991,0.0,-35,-63,-24,26,0.0,0.0,-42,60
2,1992,0.0,-40,-64,-30,19,0.0,0.0,-50,57
3,1993,0.0,-45,-64,-31,21,0.0,0.0,-51,46
4,1994,0.0,-41,-63,-30,21,0.0,0.0,-52,45

In [256]:
c.year=c.year.astype(str)

In [257]:
d={}
d['y']=np.array(c['year'])

In [261]:
x='CO (8-hour)'

In [262]:
d[x]=np.array(c[x])

In [263]:
d

{'y': array(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
        '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
        '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
        '2014', '2015', '2016', '2017', '2018'], dtype=object),
 'Pb (3-month)': array([  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   5.,   9.,
         -6., -43., -65., -77., -79., -80., -81.]),
 'CO (8-hour)': array([-35, -35, -40, -45, -41, -48, -52, -55, -56, -58, -61, -65, -67,
        -69, -71, -75, -76, -79, -80, -81, -82, -82, -83, -84, -84, -84,
        -84, -85, -83])}

In [269]:
ls=list(c.columns)
ls

['year',
 'Pb (3-month)',
 'CO (8-hour)',
 'NO2 (annual)',
 'NO2 (1-hour)',
 'O3 (8-hour)',
 'PM2.5 (annual)',
 'PM2.5 (24-hour)',
 'PM10 (24-hour)',
 'SO2 (1-hour)']

In [274]:
np.array(c[ls[-1]])

array([ 68,  60,  57,  46,  45,  17,  12,  14,  13,  14,   6,   3,  -6,
        -5,  -8,  -5, -12, -16, -26, -35, -40, -49, -53, -59, -60, -67,
       -76, -81, -81])

In [275]:
line=pd.read_csv("growth_data.csv")

In [276]:
line=pd.DataFrame(line)

In [279]:
line

,Index,Gross Domestic Product,Vehicle Miles Traveled,Population,Energy Consumption,CO2 Emissions,Aggregate Emissions (Six Common Pollutants)
0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1,36.514307,37.567568,10.731707,15.078080,9.080407,-17.275164
2,2,89.153674,93.153153,21.463415,24.538537,18.328661,-32.954233
3,3,114.699222,118.268108,29.268293,34.129587,25.616867,-39.725942
4,4,122.798753,123.621712,30.731707,38.565901,29.968620,-42.904883
5,5,132.707096,130.664234,32.195122,39.407273,31.744938,-42.927262
6,6,143.135649,136.519189,34.146341,40.012409,32.853352,-43.864361
7,7,154.692460,141.392703,35.609756,42.419554,34.693160,-45.752317
8,8,165.204851,147.470811,37.560976,45.606113,38.569753,-47.470660
9,9,167.852499,151.856847,39.024390,41.703563,36.318287,-48.897529
10,10,172.517673,157.253063,40.487805,43.879214,37.301789,-47.577400
11,11,180.314978,160.380360,41.463415,44.311451,38.428626,-49.189670
12,12,190.963839,167.098108,42.926829,47.517792,41.068487,-50.836488
13,13,201.186021,169.318018,44.390244,47.657335,41.648623,-52.077648
14,14,209.784798,171.541982,45.365854,46.620481,39.796317,-54.307364
15,15,215.596892,172.956937,46.829268,48.841266,41.587066,-56.537079
16,16,215.165851,167.883694,48.292683,45.678452,36.974499,-60.181748
17,17,207.170859,166.375135,49.756098,38.599718,26.930405,-62.897858
18,18,215.046002,167.321261,50.731707,43.884691,31.703058,-64.482581
19,19,219.931848,165.801982,52.195122,42.914147,28.756580,-65.564580
20,20,227.128861,167.438739,53.170732,39.272343,24.116848,-67.437613
21,21,233.154840,169.214414,54.146341,43.309713,27.608788,-68.545914
22,22,241.323707,172.581622,55.609756,45.024538,28.745525,-69.592150
23,23,251.156937,178.862432,56.585366,43.701844,25.299577,-71.026433
24,24,256.660322,185.945946,57.560976,43.644003,22.612349,-72.339118
25,25,264.567518,189.459460,59.024390,44.180412,21.782545,-73.179036
26,26,274.984034,190.540540,59.512195,49.254189,NaN,-73.902710

In [278]:
line.shape

(27, 7)

In [300]:
year=np.arange(1970, 2000,4)

In [301]:
year=np.append(year, 2000)
year

array([1970, 1974, 1978, 1982, 1986, 1990, 1994, 1998, 2000])

In [303]:
year=np.append(year, np.arange(2001,2019))
year

array([1970, 1974, 1978, 1982, 1986, 1990, 1994, 1998, 2000, 2001, 2002,
       2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016, 2017, 2018])

In [313]:
np.array(line['Aggregate Emissions (Six Common Pollutants)'])

array([  0.       , -17.2751636, -32.9542334, -39.7259417, -42.904883 ,
       -42.9272617, -43.8643607, -45.7523166, -47.4706603, -48.8975292,
       -47.5774002, -49.1896705, -50.8364879, -52.0776481, -54.3073635,
       -56.537079 , -60.1817485, -62.8978576, -64.4825809, -65.5645797,
       -67.4376134, -68.545914 , -69.5921496, -71.0264335, -72.3391179,
       -73.1790357, -73.9027097])